$toolbar-height: 64px;

.main-toolbar {
  height: $toolbar-height;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;

  .cart-toggle {
    position: fixed;
    right: 1rem;
    top: 13px;
  }

}

.main-content {
  margin-top: $toolbar-height;
  padding: 16px;
  height: calc(100vh - #{$toolbar-height} - 32px);
}
