.cart-item {

  display: flex;
  flex-direction: column;
  max-width: 240px;
  margin-top: 1rem;

  & > div {
    flex: auto;
  }

  .item-image {
    flex-grow: 0;

    img {
      max-width: 200px;
      max-height: 100px;
    }
  }

  .title {
    font-weight: 500;
    font-size: 1rem;
    text-overflow: ellipsis;
  }

  .sub-title {
    color: darkgrey;
  }
  .actions {
    display: flex;
    flex-direction: row;
    align-items: center;

    .remove-from-cart {
      flex-grow: 0;
    }
  }
}

