<div class="add-to-cart" *ngIf="cart.cartDictionary$ | async as cartItems">

  {{ product.price | currency:'USD':'symbol':'1.0' }}

  <mat-form-field class="options" *ngIf="product.options">
    <mat-label>{{ product.optionsLabel }}</mat-label>
    <mat-select [(value)]="optionId">
      <mat-option *ngFor="let option of product.options | keyvalue"
                  [value]="option.key">{{ option.value.name }} {{ option.value.price ? '(' + (option.value.price | currency) + ')' : '' }}</mat-option>
    </mat-select>

  </mat-form-field>

  <button [disabled]="cart.hasItem(product.id, optionId) || (product.options && !optionId)"
          mat-icon-button [color]="'primary'"
          (click)="cart.addCartItem(product.id, optionId)">

    <mat-icon [matTooltip]="cart.hasItem(product.id, optionId) ? 'In cart' : ''">
      {{ cart.hasItem(product.id, optionId) ? 'shopping_cart' : 'add_shopping_cart' }}
    </mat-icon>

  </button>

</div>
