/* You can add global styles to this file, and also import other style files */
@import '~normalize.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

h1,
h2 {
  font-weight: 300;
}

.flex-spacer {
  flex: 1 1 auto;
}
