
.product-card {

  height: calc(100% - 2rem);

  .product-summary {
    cursor: zoom-in;
  }

  .image {
    width: 100%;
  }

  .name {
    font-size: 1.1rem;
    margin-top: 1rem;
  }

  .description {
    font-size: 1rem;
    color: darkgrey;
    margin-bottom: 60px;
  }

  .price {
    position: absolute;
    left: 1rem;
    bottom: 1rem;
  }

  .add-to-cart {
    position: absolute;
    right: .5rem;
    bottom: .3rem;
  }


}


