
.product-card {

  height: calc(100% - 2rem);

  .image {
    width: 100%;
  }

  .name {
    font-size: 1.1rem;
    margin-top: 1rem;
  }

  .description {
    font-size: 1rem;
    color: darkgrey;
    margin-bottom: 40px;
  }

  .price {
    position: absolute;
    left: 1rem;
    bottom: 1rem;
  }

  .shopping-cart {
    position: absolute;
    right: .5rem;
    bottom: .3rem;
  }
}


